!!! 5
html(lang="en")
    head
    h1
    body
        form(action='/login', method='post')
p
    label Username
    input(type='text', name='username')
p
    label Password
    input(type='password', name='password')
p
    input(type='submit', value='Login')
p
    |Register
    a(href='/signin', title='registration') new user